# Server
PORT=3000
NODE_ENV=development

# Database (SQLite para desenvolvimento)
DB_STORAGE=./dev.sqlite
DB_TEST_STORAGE=:memory:

# Database (PostgreSQL para produção)
DB_HOST=200.106.168.239
DB_PORT=5455
DB_USER=integracao
DB_PASS=go0bEDc1igw699X9Vocoo6wTAqZQibAbTagXMCv4LU37hpVBkDqPVFE4LTtpoLGi
DB_NAME=integracaodb

# Cigam API
CIGAM_API_BASE_URL=https://api.cigam.com.br
CIGAM_API_TOKEN=seu-token-aqui

# Security
CORS_ORIGIN=*
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=24h

# Frontend (build arg)
VITE_API_URL=/api/v1
